<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Appveyor Brighter" value="https://ci.appveyor.com/nuget/paramore-brighter-m289d49fraww" />
    <add key="Appveyor Darker" value="https://ci.appveyor.com/nuget/darker-s67vmw6shd1j" />
    <add key="Appveyor BrighterDI" value="https://ci.appveyor.com/nuget/paramore-brighter-extensions-rkxh0hj5dgwu" />
  </packageSources>
</configuration>
